<div class="buttons">
  <textarea [(ngModel)]="raw">
  </textarea>
  <button (click)="handleUpdateRaw()">handle raw</button>
  <button (click)="generateRaw(chunk)">generate raw</button>
  <div class="filename">
    שם קובץ:
    <input #val4 (change)="updateFileName(val4.value)" [value]="filename" list="filenames">
    <datalist id="filenames">
      <option *ngFor="let filename of filenames" [value]="filename"></option>
    </datalist>
  </div>
  <div class="role">
    תפקיד:
    <input #val0 (change)="updateRole(val0.value)" [value]="collection.role">
  </div>
  <div class="majorNeed">
    צורך על:
    <input #val1 (change)="updateMajorNeed(val1.value)" [value]="collection.majorNeed">
  </div>
  <div class="sceneObjective">
    מטרת הסצנה:
    <input #val2 (change)="updateSceneObjective(val2.value)" [value]="collection.sceneObjective" list="sceneObjectives">
    <datalist id="sceneObjectives">
      <option *ngFor="let sceneObjective of sceneObjectives" [value]="sceneObjective"></option>
    </datalist>
  </div>
</div>

<div #chunk *ngIf="collection">
  <app-bit-chunk [bitChunk]="null" class="header"></app-bit-chunk>
  <ng-container *ngFor="let chunk of collection.chunks">
    <app-bit-chunk [bitChunk]="chunk"></app-bit-chunk>
  </ng-container>
</div>

<router-outlet></router-outlet>
