<div class="buttons">
  <textarea [(ngModel)]="raw">
  </textarea>
  <button (click)="handleUpdateRaw()">handle raw</button>
  <button (click)="generateRaw(chunk)">generate raw</button>
  <div class="filename">
    שם קובץ:
    <input #val4 (change)="updateFileName(val4.value)" [value]="filename" list="filenames">
    <datalist id="filenames">
      <option *ngFor="let filename of filenames" [value]="filename"></option>
    </datalist>
  </div>
  <div class="role">
    תפקיד:
    <input #val0 (change)="updateRole(val0.value)" [value]="collection.role">
  </div>
  <div class="majorNeed">
    צורך על:
    <input #val1 (change)="updateMajorNeed(val1.value)" [value]="collection.majorNeed">
  </div>
  <div class="sceneObjective">
    מטרת הסצנה:
    <input #val2 (change)="updateSceneObjective(val2.value)" [value]="collection.sceneObjective" list="sceneObjectives">
    <datalist id="sceneObjectives">
      <option *ngFor="let sceneObjective of sceneObjectives" [value]="sceneObjective"></option>
    </datalist>
  </div>
  <div class="substitution">
    תחליף:
    <input #val5 (change)="updateSubstitution(val5.value)" [value]="collection.substitution">
  </div>
</div>

<div class="header">
  <div class="obstacles">
    <div class="line"></div>
    מכשולים
  </div>
  <div class="scene">
    <div class="line"></div>
    סצנה
  </div>
  <div class="actions">
    <div class="line"></div>
    פעולות/כוונות
  </div>
  <div class="doings">
    <div class="line"></div>
    מעשים
  </div>
</div>
<div class="scene-container" #chunk *ngIf="collection">
  <!--<app-bit-chunk [bitChunk]="null" class="header"></app-bit-chunk>-->
  <div class="sceneStream" contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
  </div>
  <div class="sceneStreamGenerated">
    <ng-container *ngFor="let roleStream of collection.roleStreams">
      <div class="bitRole bitRoleName" contenteditable="false">
        {{roleStream.role}}
      </div>
      <ng-container *ngFor="let part of roleStream.stream">
        <ng-container *ngIf="part.constructor.name == 'Word'">
          <span class="word">{{part.value}}</span>
        </ng-container>
        <ng-container *ngIf="part.constructor.name == 'Punctuation'">
          <span class="punctuation">{{part.value}}</span>
        </ng-container>
        <ng-container *ngIf="part.constructor.name == 'NewLine'">
          <span class="newLine" contenteditable="false"><br></span>
        </ng-container>
        <ng-container *ngIf="part.constructor.name == 'Bit'">
          <span class="bit" contenteditable="false" [attr.data-bit-id]="part.bitId"><span>/</span></span>
        </ng-container>
        <ng-container *ngIf="part.constructor.name == 'BitInnerObjectSubstitution'">
          <app-bit-substitution contenteditable="false" [bitInnerObjectSubstitution]="part" [attr.data-substitutionid]="part.innerObjectSubstitutionId">
          </app-bit-substitution>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <ng-container *ngFor="let roleStream of collection.roleStreams">
    <ng-container *ngFor="let part of roleStream.stream">
      <ng-container *ngIf="part.constructor.name == 'Bit'">
        <div class="bitInfo" [attr.data-bit-id]="part.bitId">
          <div class="marker"></div>
          <div class="obstacle" contenteditable="true" [innerHTML]="collection.obstacles[part.bitId] | keepHtml">
          </div>
          <div class="action" contenteditable="true" [innerHTML]="collection.actions[part.bitId] | keepHtml">
          </div>
          <div class="doing" contenteditable="true" [innerHTML]="collection.doings[part.bitId] | keepHtml">
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<router-outlet></router-outlet>
