::ng-deep .ngx-contextmenu .dropdown-menu {
  border: solid 1px chartreuse;
  background-color: darkgreen;
  padding: 0;
}
::ng-deep .ngx-contextmenu li {
  display: block;
  border-top: solid 1px chartreuse;
  text-transform: uppercase;
  text-align: center;
}
::ng-deep .ngx-contextmenu li:first-child {
  border-top:none;
}
::ng-deep .ngx-contextmenu a {
  color:chartreuse;
  display: block;
  padding: 0.5em 1em;
}
::ng-deep .ngx-contextmenu a:hover {
  color:darkgreen;
  background-color:chartreuse;
}

:host {
  position:relative;
}

.buttons {
  position: sticky;
  top: 0;
  background: white;
  /* display: inline; */
  width: 100%;
  z-index: 1;
  height:90px;
}
.header {
  position: sticky;
  top: 90px;
  background: white;
  /* display: inline; */
  width: 100%;
  z-index: 1;
}

.filename {
  position: absolute;
  top: 0;
  right: 0;
  direction: rtl;
}

.role {
  position: absolute;
  top: 25px;
  right: 0;
  direction: rtl;
}

.majorNeed {
  position: absolute;
  top: 50px;
  right: 0;
  direction: rtl;
}

.sceneObjective {
  position: absolute;
  top: 0;
  right: 315px;
  direction: rtl;
}

.substitution {
  position: absolute;
  top: 25px;
  right: 315px;
  direction: rtl;
}

.filename input,
.role input,
.majorNeed input,
.substitution input,
.sceneObjective input {
  position: absolute;
  right: 82px;
  top:0;
  width: 215px;
}

.sceneObjective input {
  width: 300px;
}

.sceneObjective textarea {
  position: absolute;
  top: 0;
  right: 86px;
  width: 400px;
  height: 80px;
}

::ng-deep .word + .word:before {
  content:"";
  margin-right:0.2em;
}

::ng-deep .word + .app-bit-substitution:before {
  content:"";
  margin-right:0.2em;
}

::ng-deep .punctuation + :before {
  content:"";
  margin-right:0.2em;
  display:inline-block;
}

.header {
  direction:rtl;
}

.punctuation,
.word {
  display:inline-block;
}

.obstacle,
.obstacles {
  right:0;
  width:calc(50% / 3 - 10px);
  position:absolute;
}

.action,
.actions {
  right:calc(50% + 50% / 3);
  width:calc(50% / 3 - 10px);
  position:absolute;
}

.doing,
.doings {
  right:calc(50% + 50% / 3 * 2);
  width:calc(50% / 3 - 10px);
  position:absolute;
}

.line {
  height:100vh;
  position:absolute;
  right:-5px;
  top:0;
  width:calc(100% + 5px);
  border-right:1px solid black;
  pointer-events:none;
}

.header {
  height:1.1em;
  border-bottom:1px solid black;
}



.scene {
  top:0;
  position:absolute;
  right: calc(50% / 3);
  width: calc(50% - 10px);
}
.sceneStream {
  top:0;
  position:relative;
  left: calc(50% / 3 * 2 + 10px);
  width: calc(50% - 75px - 10px);
  direction:rtl;
  outline:none;
  line-height: 1.3;
}

.scene-container {
  position:relative;
  width:100%;
  overflow-y:hidden;
}

.sceneStreamGenerated {
  display:none;
}

.bitInfo {
  position: absolute;
  top: -100000000px;
  left: 0;
  width: 100%;
  direction:rtl;
}

.bit {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 2px;
}

.bit.asNewLinePrep {
  margin-right:10px;
}

.bitInfo {
  min-height:1.7em;
  pointer-events:none;
}

.bitInfo > * {
  min-height:inherit;
  padding-top: 0.3em;
  outline:none;
  pointer-events:auto;
}

.bit > span {
  transition: transform 0.5s;
}

.bitInfo > .marker {
  transition: opacity 0.5s;
}


.bit.marked > span {
  transform: scale(1.5);
}

.bitInfo:not(.marked) > .marker {
  opacity:0;
}

.bitInfo > .marker {
  position:absolute;
  z-index:-1;
  pointer-events:none;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color:rgba(0,0,0,.1);
}


.bit.asNewLine:before {
  content:"";
  display:block;
}

.bit > span {
  display:inline-block;
}


.sceneStream .bitRoleName {
  margin-right:-75px;
  width:75px;
  display:inline-block;
  margin-top: 1.3em;
}

.sceneStream .bitRoleName:first-child {
  padding-top:0;
}

.current {
  background:rgba(0,0,0,.3);
}


@media print {
  .buttons {
    display:none !important;
  }
  ::ng-deep .bitRoleMarker {
    display:none !important;
  }

  .header {
    position: relative;
    top: 0;
  }

  ::ng-deep app-bit-chunk {
    border-bottom:none !important;
  }
}

/*
.word,.punctuation,.newLine,.bitRoleName {
  display:none !important;
}

.bit > span {
  margin-right:0 !important;
  opacity:0;
}
*/