::ng-deep .ngx-contextmenu .dropdown-menu {
  border: solid 1px chartreuse;
  background-color: darkgreen;
  padding: 0;
}
::ng-deep .ngx-contextmenu li {
  display: block;
  border-top: solid 1px chartreuse;
  text-transform: uppercase;
  text-align: center;
}
::ng-deep .ngx-contextmenu li:first-child {
  border-top:none;
}
::ng-deep .ngx-contextmenu a {
  color:chartreuse;
  display: block;
  padding: 0.5em 1em;
}
::ng-deep .ngx-contextmenu a:hover {
  color:darkgreen;
  background-color:chartreuse;
}

:host {
  position:relative;
}

.buttons {
  position: sticky;
  top: 0;
  background: white;
  /* display: inline; */
  width: 100%;
  z-index: 1;
  height:90px;
}
.header {
  position: sticky;
  top: 90px;
  background: white;
  /* display: inline; */
  width: 100%;
  z-index: 1;
}

.filename {
  position: absolute;
  top: 0;
  right: 0;
  direction: rtl;
}

.role {
  position: absolute;
  top: 25px;
  right: 0;
  direction: rtl;
}

.majorNeed {
  position: absolute;
  top: 50px;
  right: 0;
  direction: rtl;
}

.sceneObjective {
  position: absolute;
  top: 0;
  right: 315px;
  direction: rtl;
}

.filename input,
.role input,
.majorNeed input,
.sceneObjective input {
  position: absolute;
  right: 82px;
  top:0;
  width: 215px;
}

.sceneObjective textarea {
  position: absolute;
  top: 0;
  right: 86px;
  width: 400px;
  height: 80px;
}

@media print {
  .buttons {
    display:none !important;
  }
  ::ng-deep .bitRoleMarker {
    display:none !important;
  }

  .header {
    position: relative;
    top: 0;
  }

  ::ng-deep app-bit-chunk {
    border-bottom:none !important;
  }
}
