:host {
  width:100%;

  display:block;

  margin-bottom:1em;
}

.role {
  flex-basis: 75px;
  flex-shrink: 0;
}
.bitRole {
  width: 75px;
  /*position: absolute;*/
}

app-bit-line {
  width: calc(100% - 75px);
  position: relative;
  right: 75px;
}

.bitRoleMarker {
  display:none;
}

:host.mainRole {
  background:rgba(0,0,0,.1);
}

.bitRoleName {
  font-style: italic;
}






